---
layout: archive
title: "Awards"
permalink: /awards/
author_profile: true
---

<p> CUHK Postgraduate Studentships, 2020-2024 <p>
<p> The CUHK Reaching Out Award (ROA), 2023 <p>
<p> Huawei Cup China Post-Graduate Mathematical Contest in Modeling, %\href{https://gs.dlut.edu.cn/info/1199/7245.htm}{
\bf{First Prize}}, 2018 <p>
<p> The Chinese Mathematics Competitions (CMC), \bf{First Prize}}, 2016 <p>


{%include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %}

