---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Teaching Assistant, The Chinese University of Hong Kong <br>

<p> ECLT5930B-SEEM5740B: Engineering Economics, 2024-2025 </p>
  
<p>SEEM5350: Numerical Optimization, 2021-2023 </p>
  
<p>ENGG 2760D: Probability for Engineers, 2020-2024  </p>
  
<p>SEEM 3500: Quality Control and Management, 2021-2022 </p>






{%include base_path %}

{% for post in site.teaching reversed %}
{% include archive-single.html %}
{% endfor %}
